<%= form_for @student do |f| %>
  <p class="control">
    <%= f.label :name, "Nome", class: 'label' %>
    <%= f.text_field :name, class: 'input is-medium', placeholder: 'Nome', required: true %>
  </p>

  <div class="control is-grouped">
    <p class="control is-expanded">
      <%= f.label :photo, "Foto", class: 'label' %>
      <%= f.file_field :photo, class: 'input is-medium' %>
    </p>
    <p class="control is-expanded">
      <%= f.label :course_id, "Turma", class: 'label' %>
      <span class="select is-medium">
        <%= f.select :course_id, Course.names, {}, { :class => "select2" } %>
      </span>
    </p>
  </div>

  <div class="control is-pulled-right">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium"%>
    </p>
  </div>
<% end %>
