<%= form_with do |f| %>
  <fieldset>
    <legend>Arquivo XLS</legend>
    <div class="field">
      <div class="field">
        <div class="field">
          <p class="control">
            <%= f.label :course, "Curso", class: 'label' %>
            <span class="select is-medium">
              <%= f.select :course, Course.initials, {}, {} %>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :xls, "Arquivo XLS", class: 'label' %>
            <%= f.file_field :xls, class: 'input is-medium', placeholder: 'R.A'  %>
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="margin-top-20px">
    <p class="control">
      <%= f.submit "Importar", class: "button is-success is-medium in-mobile-expand"%>
    </p>
  </div>
<% end %>
