<%= form_for model do |f| %>
  <fieldset>
    <legend>Dados do estudante</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= f.label :student_id, 'Estudante', class: 'label' %>
          <p class="control">
            <span class="select">
              <%= f.select :student_id, Student.get_all, { prompt: "Selecione o estudante" }, { :class => "select select2 is-medium" } %>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :course_id, 'Curso', class: 'label' %>
          <p class="control">
            <span class="select">
              <%= f.select :course_id, Course.names, { prompt: "Selecione o Curso" }, { :class => "select2 is-medium" } %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dados do assistente</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= f.label :assistant_id, 'Assistente', class: 'label' %>
          <p class="control">
            <span class="select">
              <%= f.select :assistant_id, User.get_by_position('Assistente de Alunos'), {}, { :class => "is-medium" } %>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :institution, 'Instituição', class: 'label' %>
          <p class="control">
            <span class="select">
              <%= f.select :institution, Incident.institutions.keys.to_a, {}, { :class => "is-medium" } %>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :type_student, 'Estudente é?', class: 'label' %>
          <p class="control">
            <span class="select">
              <%= f.select :type_student, Incident.type_students.keys.to_a, {}, { :class => "is-medium" } %>
            </span>
          </p>
        </div>
        <% if current_user.it_is_part_of_the_sector?('diren', 'serti') %>
        <div class="field">
          <%= f.label :is_resolved, 'Ocorrências resolvida?', class: 'label' %>
          <p class="control">
            <span class="select">
              <%= f.select :is_resolved, Incident.is_resolveds.keys.to_a, {}, { :class => "is-medium" } %>
            </span>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Ocorrência</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= f.label :date_incident, 'Data ocorrência', class: 'label' %>
            <%= f.text_field :date_incident, class: 'input is-medium date', value: extract_and_format_date(model.date_incident), placeholder: 'Data ocorrência', required: true %>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :time_incident, 'Hora ocorrência', class: 'label' %>
            <%= f.text_field :time_incident, class: 'input is-medium time', value: extract_and_format_time(model.time_incident), placeholder: 'Hora ocorrência', required: true %>
          </p>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="field">
        <p class="control">
          <%= f.label :description, 'Ocorrência', class: 'label' %>
          <%= f.text_area :description, class: 'textarea is-medium', placeholder: 'Ocorrência' %>
        </p>
      </div>
    </div>
    <% if current_user.it_is_part_of_the_sector?('diren', 'serti') %>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= f.label :sanction, 'Sanção aplicada', class: 'label' %>
            <p class="control">
              <span class="select">
                <%= f.select :sanction, Incident.sanctions.collect {|p| [ p.first, p.last ] }, { prompt: "Selecione o tipo de sanção aplicada" }, { :class => "select2 select is-medium" } %>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control padding-top-40">
              <a href="http://www.ifms.edu.br/wp-content/uploads/2016/04/Anexo_Resolução-001_2017_Regulamento-Disciplinar-Discente-Atualização.pdf" target="_blank">Acesse aqui o Regulamento Disciplinar Discente</a>
            </p>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="field">
          <p class="control">
            <%= f.label :soluction, 'Descrição da solução', class: 'label' %>
            <%= f.text_area :soluction, class: 'textarea is-medium', placeholder: 'Solução' %>
          </p>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="margin-top-20px">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium in-mobile-expand"%>
    </p>
  </div>
<% end %>
