<div class="columns">
  <div class="column">
    <%= link_to new_incident_path, class: "button is-success in-mobile-expand" do %>
      <span class="icon">
        <i class="ion-plus-round"></i>
      </span>
      <span>Nova ocorrência</span>
    <% end %>
  </div>
  <div class="column">
    <% show_search_error_message(@incidents, params) %>
    <%= render 'layouts/search', path: incidents_path, v: attr_order(@incidents) %>
  </div>
</div>

<table class="table is-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Estudante</th>
      <th>Turma</th>
      <th>Instituição</th>
      <th>Assinado?</th>
      <th>Verificado?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
    <tr>
      <td><%= incident.id %></td>
      <td><%= extract_and_format_date(incident.date_incident) %></td>
      <td><%= incident.student_name %></td>
      <td><%= incident.course_initial %></td>
      <td><%= incident.institution %></td>
      <td class="has-text-centered"><%= verificated?(incident.signed_in?).html_safe %></td>
      <td class="has-text-centered"><%= verificated?(false).html_safe %></td>
      <td class="has-text-right">
        <div class="dropdown">
          <span class="button is-danger in-mobile-expand">Ações</span>
          <div class="dropdown-content">
            <% if incident.signed_in.nil? && !incident.student.nil? %>
              <%= link_to incident_sign_path(incident), class: 'button' do %>
                <span class="icon">
                  <i class="ion-document-text"></i>
                </span>
                <span>Assinar</span>
              <% end %>
            <% end %>
            <%= link_to edit_incident_path(incident), class: 'button is-success' do %>
              <span class="icon">
                <i class="ion-edit"></i>
              </span>
              <span>Editar</span>
            <% end %>
            <%= link_to incident_path(incident), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'button is-danger' do %>
              <span class="icon">
                <i class="ion-close"></i>
              </span>
              <span>Excluir</span>
            <% end %>
          </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
  </div>
  <button class="modal-close is-large"></button>
</div>

<%= paginate @incidents %>
