<div class="columns">
  <div class="column">
    <%= link_to new_incident_path, class: "button is-success in-mobile-expand" do %>
      <span class="icon">
        <i class="ion-plus-round"></i>
      </span>
      <span>Nova ocorrência</span>
    <% end %>
  </div>

  <% show_search_error_message(@incidents, params) %>
  <%= render 'layouts/search', path: incidents_path, v: attr_order(@incidents) %>
</div>

<table class="table is-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Estudante</th>
      <th>Data</th>
      <th>Instituição</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
    <tr>
      <td><%= incident.id %></td>
      <td><%= incident.student_name %></td>
      <td><%= extract_and_format_date(incident.date_incident) %></td>
      <td><%= incident.institution %></td>
      <td class="has-text-right">
        <%= link_to edit_incident_path(incident), class: 'button is-success in-mobile-expand' do %>
          <span class="icon">
            <i class="ion-edit"></i>
          </span>
          <span>Editar</span>
        <% end %>
        <%= link_to incident_path(incident), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'button is-danger in-mobile-expand' do %>
          <span class="icon">
            <i class="ion-close"></i>
          </span>
          <span>Excluir</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @incidents %>
