<div class="content">
  <h1 class="title is-3">Ocorrência N#<%= @incident.id %></h1>
  <div class="content">
    <p><b><%= @incident&.student&.name %></b></p>
    <p><b><%= @incident&.course&.name %> / <%= @incident&.school_group %></b></p>
    <% if @incident&.student&.responsible.present? %>
    <p><b>Responsável:</b> <%= @incident&.student&.responsible %> / <%= @incident&.student&.responsible_contact %> </p>
    <% end %>
    <p> Data ocorrência: <b><%= extract_and_format_date(@incident&.date_incident) %> às <%= extract_and_format_time(@incident&.time_incident) %></b></p>
    <p> Local: <b><%= @incident.institution.upcase %></b></p>
    <p> Assinado digitalmente em: <b><%= @incident.signed_by_student_in %></b></p>
  </div>
  <div class="content">
    <p><b>Problema ocorrido</b></p>
    <p><%= @incident&.description %></p>
    <% if @incident&.sanction.present? %>
    <p><b>Solução adoata para o problema</b></p>
    <p><b>Sanção adota:</b> <%= I18n.t("activerecord.attributes.incident.sanction.#{@incident&.sanction}") %></p>
    <p><%= @incident&.soluction %></p>
    <% end %>
  </div>
</div>
