<%= form_for user do |f| %>
  <fieldset>
    <legend>Dados pessoais</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= f.label :name, 'Nome', class: 'label' %>
            <%= f.text_field :name, class: 'input is-medium', placeholder: 'Nome', required: true %>
          </p>
        </div>
        <div class="field">
          <%= f.label :avatar, 'Imagem', class: 'label' %>
          <div class="file is-medium is-success">
            <label class="file-label">
              <%= f.file_field :avatar, class: 'file-input' %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fa fa-upload"></i>
                </span>
                <span class="file-label">
                  Selecione uma imagem
                </span>
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dados Institucionais</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= f.label :email, class: 'label' %>
            <%= f.email_field :email, class: 'input is-medium', placeholder: 'Email', required: true %>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :siape, class: 'label' %>
            <%= f.text_field :siape, class: 'input is-medium', placeholder: 'SIAPE', required: true %>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= f.label :sector_id, 'Setor', class: 'label' %>
          <p class="control">
            <span class="select is-medium">
              <%= f.select :sector_id, Sector.initials, { prompt: "Selecione o setor" }, { :class => "select2" } %>
            </span>
          </p>
        </div>
        <div class="field">
          <%= f.label :position_id, 'Cargo/Função', class: 'label' %>
          <p class="control">
            <span class="select is-medium">
              <%= f.select :position_id, Position.get_all, { prompt: "Selecione o cargo" }, { :class => "select2" } %>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :course_id, "Coordenador?", class: 'label' %>
            <span class="select is-medium">
              <%= f.select :course_id, Course.initials, { prompt: "Curso Coordenado" }, { :class => "select2" } %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dados de acesso</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <%= f.label :username, 'Usuário', class: 'label' %>
            <%= f.text_field :username, class: 'input is-medium', placeholder: 'Usuário', required: true %>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :password, 'Senha', class: 'label' %>
            <%= f.password_field :password, class: 'input is-medium', placeholder: 'Senha' %>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :password_confirmation, 'Repetir senha', class: 'label' %>
            <%= f.password_field :password_confirmation, class: 'input is-medium', placeholder: 'Confimação senha' %>
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="margin-top-20px">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium in-mobile-expand"%>
    </p>
  </div>
<% end %>
