<div class="content">
  <h1 class="title is-3">Trocar senha</h1>
  <%= form_for @user do |f| %>
    <fieldset>
      <legend>Senha para acesso</legend>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <p class="control">
              <%= f.label :password, 'Senha', class: 'label' %>
              <%= f.password_field :password, class: 'input is-medium', placeholder: 'Senha', required: true %>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <%= f.label :password_confirmation, 'Repetir senha', class: 'label' %>
              <%= f.password_field :password_confirmation, class: 'input is-medium', placeholder: 'Confimação senha', required: true %>
            </p>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="margin-top-20px">
      <p class="control">
        <%= f.submit "Trocar senha", class: "button is-success is-medium in-mobile-expand"%>
      </p>
    </div>
  <% end %>

</div>
