<div class="columns">
  <div class="column">
    <% if can? :create, User %>
      <%= link_to new_user_path, class: "button is-success in-mobile-expand" do %>
        <span class="icon">
          <i class="ion-plus-round"></i>
        </span>
        <span>Novo Usuário</span>
      <% end %>
    <% end %>
  </div>
  <div class="column">
    <% show_search_error_message(@users, params) %>
    <%= render 'layouts/search', path: users_path, v: attr_order(@users) %>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>SIAPE</th>
      <th>Setor</th>
      <th>Acessado em?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.siape %></td>
      <td><%= user.sector_initial %></td>
      <td><%= user.last_access %></td>
      <td class="has-text-right">
        <div class="dropdown">
          <span class="button is-danger in-mobile-expand">Ações</span>
          <div class="dropdown-content">
            <% if can? :update, User %>
              <%= link_to edit_user_path(user), class: 'button is-success in-mobile-expand' do %>
                <span class="icon">
                  <i class="ion-edit"></i>
                </span>
                <span>Editar</span>
              <% end %>
            <% end %>
            <% if can? :read, Permission %>
              <%= link_to user_permissions_path(user), class: 'button is-success in-mobile-expand' do %>
                <span class="icon">
                  <i class="ion-edit"></i>
                </span>
                <span>Permissões</span>
              <% end %>
            <% end %>
            <% if can? :destroy, User %>
              <%= link_to user_path(user), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'button is-danger in-mobile-expand', disabled: user.is_current?(current_user) do %>
                <span class="icon">
                  <i class="ion-close"></i>
                </span>
                <span>Excluir</span>
              <% end %>
            <% end %>
          </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
