<%= render 'layouts/head_devise' %>

<body class="devise">
  <%= render 'layouts/alerts' %>

	<section class="container">
		<h1 class="devise-logo">
      <%= image_tag('admin/logo.png') %>
    </h1>

		<div class="devise-content">
  		<h2 class="devise-title">Esqueceu sua senha?</h2>

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

			  <div class="devise-field">
			  	<%= f.label :email, 'E-mail' %>
			  	<%= f.email_field :email, autofocus: true, required: true %>
			  </div>

			  <div class="devise-submit">
			  	<%= f.submit 'Enviar pedido', class: 'devise-btn' %>
			  </div>
			<% end %>
		</div>

		<div class="devise-links">
			<%= render 'devise/shared/links' %>
		</div>
	</section>
</body>
