<article class="message is-success">
  <div class="message-body">
    Olá prezado(a) servidor(a), seja bem vindo(a) ao <b>SIGOE (Sistema para o controle de ocorrências escolares)</b>. Atualmente o sistema não é mantido pela DIRTI. Por este motivo, pedimos a gentileza de entrar em contato pelo email do administrador local <b><%= @email_adm.email %></b>. 
    <br />
    Caso a solicitação seja para solução de problemas ou pedido de novas funcionalidades, entre em contato com o administrador geral <b>luiz.picolo@ifms.edu.br.</b>
  </div>
</article>

<h1 class="title">Gráficos</h1>
<div class="columns is-multiline shortcuts">
  <div class="column is-half">
    <h2 class="subtitle">Por ano</h2>
    <%= column_chart Incident.by_years %>
  </div>
  <div class="column is-half">
    <h1 class="subtitle">Por turmas</h1>
    <%= bar_chart Incident.by_courses %>
  </div>
</div>

<div class="columns is-multiline shortcuts">
  <div class="column is-half">
    <h1 class="subtitle">Por tipo</h1>
    <%= column_chart Incident.by_type_incident %>
  </div>
  <div class="column is-half">
    <h1 class="subtitle">Sanções adotadas</h1>
    <%= bar_chart Incident.by_sanction %>
  </div>
</div>