<%= form_for @ticket do |f| %>
  <p class="control">
    <%= f.label :from, class: 'label' %>
    <%= f.text_field :from, class: 'input is-medium', value: current_user.email, readonly: true %>
  </p>

  <div class="control is-grouped">
    <p class="control is-expanded">
      <%= f.label :to, class: 'label' %>
      <%= f.email_field :to, class: 'input is-medium', value: 'sd.na@ifms.edu.br', readonly: true %>
    </p>

    <p class="control">
      <%= f.label :local, class: 'label' %>
      <%= f.select :local, Ticket.locals.keys, {}, { :class => "" } %>
    </p>

    <p class="control">
      <%= f.label :priority, class: 'label' %>
      <%= f.select :priority, Ticket.priorities.keys, {}, { :class => "" } %>
    </p>
  </div>

  <p class="control is-expanded">
    <%= f.label :subject, class: 'label' %>
    <%= f.text_field :subject, class: 'input is-medium', required: true %>
  </p>

  <p class="control is-expanded">
    <%= f.label :description, class: 'label' %>
    <%= f.text_area :description, class: 'textarea is-medium', required: true %>
  </p>

  <div class="control is-grouped is-pulled-right">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium"%>
    </p>

    <p class="control">
      <%= link_to 'Cancelar', tickets_path, class: "button is-danger is-medium"%>
    </p>

    <% if @ticket.id.present? %>
    <p class="control">
      <%= link_to ticket_close_path(@ticket), method: :put, data: { confirm: 'Tem certeza?' }, class: 'button is-medium is-dark' do %>
        Fechar
      <% end %>
    </p>
    <% end %>
  </div>
<% end %>
