<fieldset>
  <legend class="has-text-centered">Transtornos alérgicos</legend>
  <div class="control">
    <div class="field">
      <%= m.label :allergies_drugs, 'Drogas', class: 'label' %>
      <div class="select">
        <%= m.select :allergies_drugs, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :allergies_foods, 'Comidas', class: 'label' %>
      <div class="select">
        <%= m.select :allergies_foods, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :allergies_cosmetics, 'Cosméticos', class: 'label' %>
      <div class="select">
        <%= m.select :allergies_cosmetics, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :allergies_plaster, 'Esparadrapo', class: 'label' %>
      <div class="select">
        <%= m.select :allergies_plaster, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :allergies_wool, 'Lã', class: 'label' %>
      <div class="select">
        <%= m.select :allergies_wool, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :others_allergies, 'Outras Informações', class: 'label' %>
      <%= m.text_area :others_allergies, class: 'textarea is-medium', placeholder: 'Outras Informações' %>
    </div>
  </div>
</fieldset>
