<fieldset>
  <legend>Dados sobre hábitos</legend>
  <%= f.fields_for :habits do |h| %>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <%= h.label :sleep_rest, "Sono e repouso", class: 'label' %>
            <div class="select">
              <%= h.select :sleep_rest, Habit.sleep_rests.keys.to_a, {}, { :class => "" } %>
            </div>
          </div>
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_sleep_hours, "Horas de sono", class: 'label' %>
              <%= h.text_field :amount_sleep_hours, class: 'input', placeholder: 'Horas de sono', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                Horas por Dia
              </a>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <%= h.label :physical_activity, "Atividade física", class: 'label' %>
              <%= h.text_field :physical_activity, class: 'input', placeholder: 'Atividade física', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                x semana
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_fruit_vegetable, "Frutas e Verduras", class: 'label' %>
              <%= h.text_field :amount_fruit_vegetable, class: 'input', placeholder: 'Frutas e Verduras', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                x semana
              </a>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_red_meat, "Carne Vermelha", class: 'label' %>
              <%= h.text_field :amount_red_meat, class: 'input', placeholder: 'Carne Vermelha', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                x semana
              </a>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_white_meat, "Carne branca", class: 'label' %>
              <%= h.text_field :amount_white_meat, class: 'input', placeholder: 'Carne branca', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                x semana
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_juice, "Suco", class: 'label' %>
              <%= h.text_field :amount_juice, class: 'input', placeholder: 'Suco', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                capos dia
              </a>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_water, "Água", class: 'label' %>
              <%= h.text_field :amount_water, class: 'input', placeholder: 'Água', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                capos dia
              </a>
            </p>
          </div>
          <div class="field has-addons">
            <p class="control">
              <%= h.label :amount_tea, "Chá", class: 'label' %>
              <%= h.text_field :amount_tea, class: 'input', placeholder: 'Chá', required: true %>
            </p>
            <p class="control">
              <a class="button is-static margin-top-32px">
                capos dia
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="field">
          <p class="control">
            <%= h.label :other_information, 'Outras Informações', class: 'label' %>
            <%= h.text_area :other_information, class: 'textarea is-medium', placeholder: 'Outras Informações' %>
          </p>
        </div>
      </div>
  <% end %>
</fieldset>
