<%= form_for patient do |f| %>
  <%= render 'form_patient', f: f %>
  <%= render 'form_physiological', f: f %>
  <%= render 'form_morbids', f: f %>
  <%= render 'form_habits', f: f %>
  <div class="margin-top-20px">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium in-mobile-expand"%>
    </p>
  </div>
<% end %>
