<%= form_for patient do |f| %>
  <fieldset>
    <legend>Selecione o paciente</legend>
    <div class="control select-type-patient">
      <label class="radio">
        <input type="radio" name="answer" id="is-server" checked>
        Servidor
      </label>
      <label class="radio">
        <input type="radio" name="answer" id="is-student">
        Estudante
      </label>
    </div>

    <div class="control">
      <div class="field">
        <%= f.label :student_id, 'Estudante', class: 'label is-hidden' %>
        <p class="control">
          <div class="select is-server">
            <%= f.select :student_id, Student.get_all, { prompt: "Selecione o servidor" }, { :class => "select2 is-medium" } %>
          </div>
          <div class="select is-student">
            <%= f.select :student_id, Student.get_all, { prompt: "Selecione o estudante" }, { :class => "select2 is-medium" } %>
          </div>
        </p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Dados sobre hábitos</legend>
    <%= f.fields_for :habits do |ff| %>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <%= ff.label :sleep_rest, "Sono e repouso", class: 'label' %>
              <div class="select">
                <%= ff.select :sleep_rest, Habit.sleep_rests.keys.to_a, {}, { :class => "" } %>
              </div>
            </div>
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_sleep_hours, "Horas de sono", class: 'label' %>
                <%= ff.text_field :amount_sleep_hours, class: 'input', placeholder: 'Horas de sono', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  Horas por Dia
                </a>
              </p>
            </div>
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :physical_activity, "Atividade física", class: 'label' %>
                <%= ff.text_field :physical_activity, class: 'input', placeholder: 'Atividade física', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  x semana
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_fruit_vegetable, "Frutas e Verduras", class: 'label' %>
                <%= ff.text_field :amount_fruit_vegetable, class: 'input', placeholder: 'Frutas e Verduras', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  x semana
                </a>
              </p>
            </div>
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_red_meat, "Carne Vermelha", class: 'label' %>
                <%= ff.text_field :amount_red_meat, class: 'input', placeholder: 'Carne Vermelha', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  x semana
                </a>
              </p>
            </div>
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_white_meat, "Carne branca", class: 'label' %>
                <%= ff.text_field :amount_white_meat, class: 'input', placeholder: 'Carne branca', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  x semana
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_juice, "Suco", class: 'label' %>
                <%= ff.text_field :amount_juice, class: 'input', placeholder: 'Suco', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  capos dia
                </a>
              </p>
            </div>
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_water, "Água", class: 'label' %>
                <%= ff.text_field :amount_water, class: 'input', placeholder: 'Água', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  capos dia
                </a>
              </p>
            </div>
            <div class="field has-addons">
              <p class="control">
                <%= ff.label :amount_tea, "Chá", class: 'label' %>
                <%= ff.text_field :amount_tea, class: 'input', placeholder: 'Chá', required: true %>
              </p>
              <p class="control">
                <a class="button is-static margin-top-32px">
                  capos dia
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="field">
            <p class="control">
              <%= ff.label :other_information, 'Outras Informações', class: 'label' %>
              <%= ff.text_area :other_information, class: 'textarea is-medium', placeholder: 'Outras Informações' %>
            </p>
          </div>
        </div>
    <% end %>
  </fieldset>

  <div class="margin-top-20px">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium in-mobile-expand"%>
    </p>
  </div>
<% end %>
