<fieldset>
  <legend class="has-text-centered">Fatores de risco</legend>
  <div class="control">
    <div class="field">
      <%= m.label :risk_factors_smoking, 'Tabagismo', class: 'label' %>
      <div class="select">
        <%= m.select :risk_factors_smoking, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :risk_factors_ethicism, 'Etilismo', class: 'label' %>
      <div class="select">
        <%= m.select :risk_factors_ethicism, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :risk_factors_chemotherapy, 'Quimioterapia', class: 'label' %>
      <div class="select">
        <%= m.select :risk_factors_chemotherapy, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :risk_factors_radiotherapy, 'Radioterapia', class: 'label' %>
      <div class="select">
        <%= m.select :risk_factors_radiotherapy, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :risk_factors_chemical_dependency, 'Dependencia Quimica', class: 'label' %>
      <div class="select">
        <%= m.select :risk_factors_chemical_dependency, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :risk_factors_violence, 'Violencia', class: 'label' %>
      <div class="select">
        <%= m.select :risk_factors_violence, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :others_risk_factors, 'Outras Informações', class: 'label' %>
      <%= m.text_area :others_risk_factors, class: 'textarea is-medium', placeholder: 'Outras Informações' %>
    </div>
  </div>
</fieldset>
