<fieldset>
  <legend>Fisiológicos</legend>
  <%= f.fields_for :physiologicals do |p| %>
    <div class="field">
      <%= p.label :other_diseases, 'Outras doenças', class: 'label' %>
      <%= p.text_area :other_diseases, class: 'textarea is-medium', placeholder: 'Outras doenças' %>
    </div>
    <div class="field">
      <%= p.label :continuing_medication, 'Medicação continua', class: 'label' %>
      <%= p.text_area :continuing_medication, class: 'textarea is-medium', placeholder: 'Medicação continua' %>
    </div>
    <div class="field">
      <%= p.label :previous_surgeries, 'Cirurgias anteriores', class: 'label' %>
      <%= p.text_area :previous_surgeries, class: 'textarea is-medium', placeholder: 'Cirurgias anteriores' %>
    </div>
    <div class="field">
      <%= p.label :hospitalization, 'Internações', class: 'label' %>
      <%= p.text_area :previous_surgeries, class: 'textarea is-medium', placeholder: 'Internações' %>
    </div>
    <div class="field">
      <%= p.label :first_menstruation, 'Primeira mestruação', class: 'label' %>
      <%= p.text_area :first_menstruation, class: 'textarea is-medium', placeholder: 'Primeira mestruação' %>
    </div>
    <div class="field">
      <%= p.label :complaints, 'Reclamações', class: 'label' %>
      <%= p.text_area :complaints, class: 'textarea is-medium', placeholder: 'Reclamações' %>
    </div>
    <div class="field">
      <%= p.label :gestation, 'Gestação', class: 'label' %>
      <%= p.text_area :gestation, class: 'textarea is-medium', placeholder: 'Gestação' %>
    </div>
    <div class="field">
      <%= p.label :children, 'Filhos', class: 'label' %>
      <%= p.text_area :children, class: 'textarea is-medium', placeholder: 'Filhos' %>
    </div>
    <div class="field">
      <%= p.label :abortion, 'Aborto', class: 'label' %>
      <%= p.text_area :abortion, class: 'textarea is-medium', placeholder: 'Aborto' %>
    </div>
  <% end %>
</fieldset>
