<fieldset>
  <legend class="has-text-centered">Doenças pré-existentes</legend>
  <div class="control">
    <div class="field">
      <%= m.label :pre_existing_diseases_vascular_accident, 'Acidente Vascular', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_vascular_accident, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :pre_existing_diseases_cancer, 'Cancêr', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_cancer, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :pre_existing_diseases_hypertension, 'Hipertenção', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_hypertension, ['Sim', 'Não'], {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :pre_existing_diseases_cardiopathy, 'Cardiopatia', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_cardiopathy, Morbid.pre_existing_diseases_cardiopathies.keys.to_a, {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :pre_existing_diseases_diabetes, 'Diabetes', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_diabetes, Morbid.pre_existing_diseases_diabetes.keys.to_a, {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :pre_existing_diseases_renal, 'Doença renal', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_renal, Morbid.pre_existing_diseases_renals.keys.to_a, {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :pre_existing_diseases_pneumopathy, 'Pneumopatia', class: 'label' %>
      <div class="select">
        <%= m.select :pre_existing_diseases_pneumopathy, Morbid.pre_existing_diseases_pneumopathies.keys.to_a, {}, {} %>
      </div>
    </div>
    <div class="field">
      <%= m.label :others_pre_existing_diseases, 'Outras Informações', class: 'label' %>
      <%= m.text_area :others_pre_existing_diseases, class: 'textarea is-medium', placeholder: 'Outras Informações' %>
    </div>
  </div>
</fieldset>
