<div class="columns">
  <div class="column no-print">
    <% if can? :create, Patient %>
      <%= link_to new_patient_path, class: "button is-success in-mobile-expand" do %>
        <span class="icon">
          <i class="ion-plus-round"></i>
        </span>
        <span>Novo Paciente</span>
      <% end %>
    <% end %>
  </div>
  <div class="column no-print">
    <% show_search_error_message(@patients, params) %>
    <%= render 'layouts/search', path: patients_path, v: attr_order(@patients) %>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Nome</th>
      <th class="is-hidden-mobile">Curso</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.id %></td>
      <td>test</td>
      <td><%= patient.name %></td>
      <td class="is-hidden-mobile">ddd</td>
      <td class="has-text-right no-print">
        <div class="dropdown">
          <span class="button is-danger in-mobile-expand">Ações</span>
          <div class="dropdown-content">
            <% if can? :update, Patient %>
              <%= link_to edit_patient_path(patient), class: 'button is-success in-mobile-expand' do %>
                <span class="icon">
                  <i class="ion-edit"></i>
                </span>
                <span>Editar</span>
              <% end %>
            <% end %>
            <% if can? :destroy, Patient %>
              <%= link_to patient_path(patient), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'button is-danger in-mobile-expand' do %>
                <span class="icon">
                  <i class="ion-close"></i>
                </span>
                <span>Excluir</span>
              <% end %>
            <% end %>
          </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @patients %>
<br />
