<%= form_for @keypass do |f| %>
  <div class="control is-grouped keypass_form">
    <p class="control is-expanded">
      <%= f.label :title, class: 'label' %>
      <%= f.text_field :title, class: 'input is-medium', placeholder: 'Título', required: true %>

      <%= f.label :user, class: 'label' %>
      <%= f.text_field :user, class: 'input is-medium', placeholder: 'Usuário', required: true %>

      <%= f.label :key, class: 'label' %>
      <%= f.text_field :key, class: 'input is-medium', placeholder: 'Senha', required: true %>

      <%= f.label :local_service, class: 'label' %>
      <%= f.text_field :local_service, class: 'input is-medium', placeholder: 'Local de uso / Ex: 10.0.6.1', required: true %>
    </p>

    <p class="control is-expanded">
      <span class="select" style="margin-bottom: 40px">
        <%= f.label :local, class: 'label' %>
        <%= f.select :local, Keypass.locals.keys.to_a, class: 'select is-medium', required: true %>
      </span>

      <%= f.label :description, class: 'label' %>
      <%= f.text_area :description, class: 'textarea is-medium', placeholder: 'Descrição' %>
    </p>
  </div>

  <div class="control is-grouped is-pulled-right">
    <p class="control">
      <%= f.submit "Salvar", class: "button is-success is-medium"%>
    </p>
    <p class="control">
      <button class="button is-danger is-medium">Cancelar</button>
    </p>
  </div>
<% end %>
