<fieldset>
  <legend>Exame Físico</legend>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field has-addons">
          <p class="control">
            <%= f.label :weight, "Peso", class: 'label' %>
            <%= f.text_field :weight, class: 'input', placeholder: 'Peso', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              kg
            </a>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <%= f.label :height, "Altura", class: 'label' %>
            <%= f.text_field :height, class: 'input', placeholder: 'Altura', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              cm
            </a>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <%= f.label :abdominal_perimeter, "Perímetro Abdonimal", class: 'label' %>
            <%= f.text_field :abdominal_perimeter, class: 'input', placeholder: 'Perímetro Abdonimal', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              cm
            </a>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <%= f.label :bloodvpressure, "Pressão Arterial", class: 'label' %>
            <%= f.text_field :bloodvpressure, class: 'input', placeholder: 'Pressão Arterial', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              mmhg
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field has-addons">
          <p class="control">
            <%= f.label :temperature, "Temperatura", class: 'label' %>
            <%= f.text_field :temperature, class: 'input', placeholder: 'Temperatura', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              Graus
            </a>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <%= f.label :heart_rate, "Freq. cadiaca", class: 'label' %>
            <%= f.text_field :heart_rate, class: 'input', placeholder: 'Frequência cadiaca', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              bmp
            </a>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <%= f.label :respiratory_frequency, "Freq. respiratória", class: 'label' %>
            <%= f.text_field :respiratory_frequency, class: 'input', placeholder: 'Frequência respiratória', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              mpm
            </a>
          </p>
        </div>
        <div class="field has-addons">
          <p class="control">
            <%= f.label :bloodvpressure, "Glicemia", class: 'label' %>
            <%= f.text_field :bloodvpressure, class: 'input', placeholder: 'Glicemia', required: true %>
          </p>
          <p class="control">
            <a class="button is-static margin-top-32px">
              mg/dl
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <%= f.label :companion, "Valor IMC", class: 'label' %>
          <%= f.text_field :companion, class: 'input', placeholder: 'Valor IMC' %>
        </div>
        <div class="field">
          <%= f.label :companion, "IMC", class: 'label' %>
          <%= f.text_field :companion, class: 'input', placeholder: 'IMC' %>
        </div>
        <div class="field">
          <%= f.label :tanners_stage, "Estágio de Tanner", class: 'label' %>
          <div class="select is-fullwidth">
            <%= f.select :tanners_stage, Patient::Incident.tanners_stages.keys.to_a, {}, { :class => "" } %>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :diagnosis, 'Diagnóstico de Enfermagem', class: 'label' %>
      <%= f.text_area :diagnosis, class: 'textarea is-medium', placeholder: 'Diagnóstico da Enfermagem' %>
    </div>
    <div class="field">
      <%= f.label :prescription, 'Prescrição de Enfermagem', class: 'label' %>
      <%= f.text_area :prescription, class: 'textarea is-medium', placeholder: 'Prescrição de Enfermagem' %>
    </div>
    <div class="field">
      <%= f.label :evolution, 'Evolução de Enfermagem', class: 'label' %>
      <%= f.text_area :evolution, class: 'textarea is-medium', placeholder: 'Evolução de Enfermagem' %>
    </div>
</fieldset>
