<div class="columns no-print">
  <div class="column">
    <% if can? :create, Course %>
      <%= link_to new_course_path, class: "button is-success in-mobile-expand" do %>
        <span class="icon">
          <i class="ion-plus-round"></i>
        </span>
        <span>Novo curso</span>
      <% end %>
    <% end %>
  </div>
  <div class="column">
    <% show_search_error_message(@courses, params) %>
    <%= render 'layouts/search', path: courses_path, v: attr_order(@courses) %>
  </div>
</div>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Sigla</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.id %></td>
      <td><%= course.name %></td>
      <td><%= link_to course.initial, students_path(course.params_search) %></td>
      <td class="has-text-right no-print">
        <div class="dropdown">
          <span class="button is-danger in-mobile-expand">Ações</span>
          <div class="dropdown-content">
            <% if can? :update, Course %>
              <%= link_to edit_course_path(course), class: 'button is-success in-mobile-expand' do %>
                <span class="icon">
                  <i class="ion-edit"></i>
                </span>
                <span>Editar</span>
              <% end %>
            <% end %>
            <% if can? :destroy, Course %>
              <%= link_to course_path(course), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'button is-danger in-mobile-expand' do %>
                <span class="icon">
                  <i class="ion-close"></i>
                </span>
                <span>Excluir</span>
              <% end %>
            <% end %>
          </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @courses %>
<br>
