<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Paginated HTML</title>
    <style type="text/css">
      body {
        font-family: Arial;
        margin: 0 auto;
        width: 770px;
      }

      header h1, header h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
      }

      p, th, td {
        padding: 0;
        margin: 0;
      }

      .info_student {
        margin: 20px 0;
        line-height: 1.5;
      }

      .footer div {
        display: inline-block;
        text-align: center;
        width: 48%;
      }

      .date {
        margin-top: 40px;
        margin-left: -20px;
        text-align: center;
      }

      .description {
        margin-bottom: 40px;
        text-align: justify;
        line-height: 1.5;
      }

      .description p {
        margin: 10px 0;
        text-align: justify;
      }

      .image {
        /*float: left;*/
        margin: 4px 10px 0 0;
      }
      div.page {
        page-break-after: always;
        page-break-inside: avoid;
      }
    </style>

  </head>
  <body>
    <% @incidents.each do |incident| %>
      <div class="page">
        <header>
          <div>
            <h1><%= image_tag 'cabecalho.png', width: 770 %></h1><br>
              <h2>Relatório de ocorrências</h2>
          </div>
        </header>

        <div class="info_student">
          <p><b><%= incident&.student&.name %></b></p>
          <p><b><%= incident&.course&.name %></b></p>
          <% if incident&.student&.responsible.present? %>
          <p><b>Responsável:</b> <%= incident&.student&.responsible %> / <%= incident&.student&.responsible_contact %> </p>
          <% end %>
          <p> Data ocorrência: <b><%= extract_and_format_date(incident&.date_incident) %></b></p>
          <p> Hora ocorrência: <b><%= extract_and_format_time(incident&.time_incident) %></b></p>
        </div>

        <div class="description">
          <p><b>Problema ocorrido</b></p>
          <%= incident&.description %>
          <% if incident&.soluction.present? %>
          <p><b>Solução adoata para o problema</b></p>
          <%= incident&.soluction %>
          <% end %>
        </div>

        <div class="footer">
          <div>
            <p>Aluno(a)</p>
            <p>____________________________</p>
          </div>
          <div>
            <p>Responsável</p>
            <p>____________________________</p>
          </div>
        </div>

        <div class="date">
          Data de comparecimento do responsável: ____ de _____________ de 201__
        </div>
      </div>
    <% end %>
  </body>
</html>
