<div class="content">
  <h1 class="title is-3">Gerar relatório de ocorrências</h1>
  <%= form_with url: report_incidents_path << ".pdf", method: :post do |f|%>
  <fieldset>
    <legend>Dados ocorrência</legend>
    <div class="field">
      <%= f.label :student, 'Estudante', class: 'label' %>
      <p class="control">
        <span class="select">
          <%= f.select :student, Student.get_all, { prompt: "Selecione o estudante" }, { :class => "select2 is-medium" } %>
        </span>
      </p>
    </div>
    <div class="field">
      <%= f.label :course, 'Turma', class: 'label' %>
      <p class="control">
        <span class="select">
          <%= f.select :course, Course.names, { prompt: "Selecione a turma" }, { :class => "select2 is-medium" } %>
        </span>
      </p>
    </div>

    <div class="field">
      <%= f.label :student, 'Residente?', class: 'label' %>
      <p class="control">
        <span class="select">
          <%= f.select :type_student, Incident.type_students.map { |key, value| [key.humanize, value] }, { include_blank: true }, { :class => "is-medium" } %>
        </span>
      </p>
      <%= f.label :student, 'Instituição', class: 'label' %>
      <p class="control">
        <span class="select">
          <%= f.select :institution, Incident.institutions.map { |key, value| [key.upcase, value] }, { include_blank: true }, { :class => "is-medium", include_blank: true } %>
        </span>
      </p>
    </div>

    <div class="field is-horizontal">
      <div>
        <div class="field">
          <p class="control">
            <%= f.label :date_start, 'Data início', class: 'label' %>
            <%= f.text_field :date_start, class: 'input is-medium date calendar', placeholder: 'Data início' %>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <%= f.label :date_final, 'Data final', class: 'label' %>
            <%= f.text_field :date_final, class: 'input is-medium date calendar', placeholder: 'Data fim' %>
          </p>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="control is-grouped is-pulled-left margin-top-20px">
    <p class="control">
      <%= f.button "Gerar relatório", class: "button is-success is-medium in-mobile-expand", formtarget: "_blank"%>
    </p>
  </div>
  <% end %>
</div>
