<aside class="menu">
  <% if can? :manage, User %>
  <p class="menu-label">
    Serti
  </p>
  <% end %>
  <ul class="menu-list">
    <% if can? :manage, User %>
      <li><%= active_link_to 'Usuários', users_path %></li>
    <% end %>
    <% if can? :manage, Keypass %>
      <li><%= active_link_to 'Senhas', keypasses_path %></li>
    <% end %>
    <% if can? :manage, Position %>
      <li><%= active_link_to 'Cargos / Funçôes', positions_path %></li>
    <% end %>
  </ul>
  <p class="menu-label">
    Diren
  </p>
  <ul class="menu-list">
    <% if can? :manage, Student %>
      <li><%= active_link_to 'Estudantes', students_path %></li>
    <% end %>
    <% if can? :manage, Course %>
      <li><%= active_link_to 'Cursos', courses_path %></li>
    <% end %>
    <% if can? :manage, Incident %>
      <li><%= active_link_to 'Ocorrências', incidents_path %></li>
      <li><%= active_link_to 'Relatório ocorrências', new_report_incident_path %></li>
    <% end %>
  </ul>
</aside>
