<aside class="menu no-print">
  <p class="menu-label">
    Minhas informações
  </p>
  <ul class="menu-list">
    <li><%= active_link_to 'Trocar senha', user_change_password_path(current_user) %></li>
  </ul>
  
  <% if (can? :read, User) || 
        (can? :read, Student) || 
        (can? :read, Course) %>
  <p class="menu-label">
    Administrador
  </p>
  <% end %>
  <ul class="menu-list">
    <% if can? :read, User %>
      <li><%= active_link_to 'Usuários', users_path %></li>
    <% end %>
    <% if can? :read, Student %>
      <li><%= active_link_to 'Estudantes', students_path %></li>
    <% end %>
    <% if can? :read, Course %>
      <li><%= active_link_to 'Cursos', courses_path %></li>
    <% end %>
  </ul>

  <% if can? :read, Incident %>
  <p class="menu-label">
    Ocorrências
  </p>
  <% end %>
  <ul class="menu-list">
    <% if can? :read, Incident %>
      <li><%= active_link_to 'Ocorrências', incidents_path %></li>
      <li><%= active_link_to 'Relatório ocorrências', new_report_incident_path %></li>
    <% end %>
  </ul>
</aside>
