<div class="field is-horizontal">
  <%= form_tag(path, :method => "get", id: "search") do %>
    <div class="field-body">
        <div class="field">
          <p class="control">
            <span class="select is-hidden-mobile">
              <%= select_tag "order",
                options_for_select(v,
                params[:order]),
                prompt: "Ordenar por",
                onchange: "this.form.submit();" %>
            </span>
          </p>
          </div>
          <div class="field">
            <p class="control">
              <span class="select is-hidden-mobile">
                <%= select_tag "return", options_for_search(params), prompt: "Total",
                    onchange: "this.form.submit();" %>
              </span>
            </p>
          </div>
          <div class="field has-addons">
          <p class="control is-expanded">
            <%= text_field_tag :search, params[:search], class: "input search", placeholder: "Buscar" %>
          </p>
          <p class="control">
            <a class="button is-success">
              <%= button_tag(type: "submit", class: "button is-success", name: nil) do %>
                Buscar
              <% end %>
            </a>
          </p>
        </div>
    </div>
  <% end %>
</div>
